<div class="w-full max-w-7xl bg-gray-800 rounded-lg shadow-lg p-6">
  <app-generate-input (submit)="submit($event)"></app-generate-input>

  <div class="flex flex-wrap mb-6 gap-2">
    @for (item of publicPrompts; track $index) {
    <app-pill (click)="generateWithPrompt(item.prompt)">{{
      item.label
    }}</app-pill>
    }
  </div>

  <!-- Main Content -->
  <div class="flex flex-col gap-6">
    @if (!generateService.isLoading()) { @if (generatedCode) {
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-6"
      style="min-height: 500px"
    >
      <!-- Code Editor -->
      <app-card>
        <h2 class="section-title">Code Editor</h2>
        <app-code-editor [code]="generatedCode"></app-code-editor>
      </app-card>

      <!-- Preview Iframe -->
      <app-card>
        <h2 class="section-title">Preview</h2>
        <app-preview-html [code]="generatedCode"></app-preview-html>
      </app-card>
    </div>

    @if (suggestions.length > 0) {
    <app-card>
      <h2 class="section-title">Suggestions</h2>
      <ul>
        @for (suggestion of suggestions; track $index) {
        <li>
          <strong>{{ suggestion.title }}</strong> {{ suggestion.message }}
        </li>
        }
      </ul>
    </app-card>
    } } } @else {
    <div class="col-span-2 flex justify-center items-center h-full">
      <app-spinner></app-spinner>
    </div>
    }
  </div>
</div>
